<div class="container-fluid container-general container-cellar">
    <div class="col-md-4 offset-4 text-light">
        <div class="text-center">
            <h1 class="title" id="app-name">{{title}}</h1>
            <h5 class="title">Create a New Cellar</h5>
        </div>
        <form action="/cellars" method="POST">
            <div class="mb-3">
                <label class="form-label shaded" for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Insert cellar's new name here" required>
            </div>

            <div class="mb-3">
                <label class="form-label shaded" for="place">Place</label>
                <input class="form-control" type="text" name="place" id="place" placeholder="Where is it?">
            </div>

            <div class="mb-3">
                <label class="form-label shaded" for="capacity">Capacity</label>
                <input class="form-control" type="number" name="capacity" id="capacity" min="1" max="900" placeholder="How much spaces does your cellar have?">
            </div>

            <button class="btn btn-danger" type="submit">Create Wine Cellar</button>
            <a href="/cellars" class="btn btn-warning float-end">Cancel</a>
        </form>
    </div>
</div>