<h1>{{cellar.name}}</h1>
<hr>

<h3>Wines in this cellar</h3>
<ul>
  {{#each cellar.wines}}
    <li>Wine name: {{name}}</li>
  {{/each}}
</ul>
<p>This wine is placed at: {{cellar.place}}</p>
<p>This cellar capacity is: {{cellar.capacity}}</p>