<h1>{{cellar.name}}</h1>
<hr>

<p>Wine name: {{cellar.wines}}</p>
<p>This wine is placed at: {{cellar.place}}</p>
<p>Details about this bottle: {{ cellar.wines }}</p>


<button onclick="delete()">Delete</button>