<h1>My Cellars</h1>
<hr>


<a href="/cellars/create">Create a New Cellar</a>

{{#each cellars}}

    <form action="/cellars/{{id}}" method="POST">
    <a href="/cellars/{{id}}/edit">Edit My Cellar</a>
    </form>

    <form action="/cellars/{{id}}/delete" method="POST">
    <button type="submit">Delete Cellar</button>
    </form>

{{/each}}