{% extends "layout.njk" %}
{% block content %}
<div class="container-fluid container-general container-profile row m-0 p-0">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-2 text-light">
        <div class="text-center">
            <h1 class="title shaded" id="app-name">{{title}}</h1>
            <h3 class="title shaded mb-3">{{user.username}} Profile</h3>

            <div class="m-auto mb-2" id="profile-pic" style="background-image: url({{user.imageURL}});"></div>        
            <p class="form-label-check shaded" for="wine-list">{{user.username}} Favorite Types of Wine:</p>
            {% if user.red %}
                <p>Red</p>
            {% endif %}
            {% if user.white %}
                <p>White</p>
            {% endif %}
            {% if user.rose %}
                <p>Rose</p>
            {% endif %}
            {% if user.sparkling %}
                <p>Sparkling</p>
            {% endif %}
            {% if user.dessert %}
                <p>Dessert</p>
            {% endif %}
            {% if user.green %}
                <p>Green</p>
            {% endif %}
            {% if user.porto %}
                <p>Porto</p>
            {% endif %}

            {% if user.wineLoverMeter %}
                <p>WineLove Meter: {{user.wineLoverMeter}}</p>
            {% else %}
                <p>WineLover Meter: not selected</p>
            {% endif %}
        </div>
        <!-- End of WineLove Selection test -->
    </div>
</div>

<script>
//switch buttons of favorite wine
    document.getElementsByName('red')[0].checked = {{user.red}};
    document.getElementsByName('white')[0].checked = {{user.white}};
    document.getElementsByName('rose')[0].checked = {{user.rose}};
    document.getElementsByName('sparkling')[0].checked = {{user.sparkling}};
    document.getElementsByName('dessert')[0].checked = {{user.dessert}};
    document.getElementsByName('green')[0].checked = {{user.green}};
    document.getElementsByName('porto')[0].checked = {{user.porto}};
//wine lover metter select
</script>
{% endblock %}
