<h1>{{title}}</h1>
<<<<<<< HEAD
<p>Welcome to {{title}}</p>

<h2>Login</h2>

<form action="/login" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Log In</button>

</form>

    {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}

  <p>
    Don't have an account? Sign up <a href="/signup">here</a>
  </p>
=======
<p>Welcome to {{title}}</p>
>>>>>>> d128ac113342635698f01a9393ccf36864823829
