<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- custom select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css">
  <!-- custom select -->
</head>
<body>
  <script type="text/javascript" src="/javascripts/Sounds.js"></script>

  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="bi-house-fill" style="font-size: 1.2rem; color: white;"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> --}}
          {{#if session.currentUser}}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/cellars">My Cellars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/opened">Memories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/achievements">Achievements</a>
            </li>
            <li class="d-flex align-items-center ms-5">
              <span class="text-light me-3">Hello {{session.currentUser.username}}</span>
              <form action="/logout" method="POST">
                <button class="btn btn-outline-danger btn-sm pb-0 pt-0" type="submit" id="logout">Logout</button>
              </form>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>  

  <div style="min-height: 90vh;">
   {{{body}}}
  </div>
  <!-- Footer -->
  <footer class="text-light container-fluid">
    <!-- Footer Elements -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-5">
          <div class="mb-5 d-flex flex-column align-items-center">
            <a href="">About us</a>
          </div>
        </div>
        <div class="col-md-4 py-5">
          <div class="mb-5 d-flex flex-column align-items-center">
            <a href="">Contact</a>
          </div>
        </div>
        <div class="col-md-4 py-5">
          <div class="mb-5 d-flex flex-column align-items-center">
            <a target="_blank" href="https://github.com/UltraKnight/WineCellar/">Github</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; <span id="currentYear">2021</span> Copyright:
      <span>Vanderlei I. Martins | Laura Santos</span>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  {{!-- Loading --}}
  <div class="spinner spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>