{% extends "layout.njk" %}
{% block content %}
<script>
  function insertDate(date) {
    let dateFromDb = new Date(date);
    let div = document.querySelector('.opened');
    let newP = document.createElement('p');

    let dd = dateFromDb.getDate();
    let mm = dateFromDb.getMonth()+1;
    let yyyy = dateFromDb.getFullYear();
    dd = dd < 10 ? '0'+dd : dd;
    mm = mm < 10 ? '0'+mm : mm;

    let formatedDate = `${yyyy}-${mm}-${dd}`;
    newP.classList.add('shaded');
    newP.innerHTML = '<span class="fw-bold">Opened at:</span> ' + formatedDate;
    div.appendChild(newP);
  }
</script>

<div class="container-fluid container-general container-wine">
    <div class="row">
        <div class="opened col-md-6 mt-4 text-light">
            <h4 class="mb-3">Memories</h4>
            {% for item in opened %}
              <p class="fw-bold shaded">{{item.name}} - {{item.year}} - {{item.type}}</p>
              <p class="shaded"><span class="fw-bold">Event:</span> {{item.event}}</p>
              <script>
                insertDate(`{{item.openingDate}}`);
              </script>
              <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
