<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>     
        .container {
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            box-sizing: border-box;
            max-width: 600px;
            height: fit-content;
        }
        .container div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            margin: 0;
            width: 50px;
            height: 50px;
            border: 1px solid #aaaaaa;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id='pos1' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos2'ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos3'ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos4'ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos6' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos7' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos8' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos9' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos10' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos11' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos12' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos13' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos14' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div id='pos15' ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>
    <br>
    <p>Meowrraste</p>
    <img id="drag1" src="/images/top_view_bottle.png" draggable="true" ondragstart="drag(event)" width="60" height="60">
    <img id="drag2" src="/images/top_view_bottle.png" draggable="true" ondragstart="drag(event)" width="60" height="60">

    <script>
       
        //For the drag and drop
    function allowDrop(ev) {
    ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        if(ev.target.innerHTML === '' && ev.target.tagName === 'DIV') {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));    }
    }
</script>

</body>
</html>
