body {
  padding-top: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-general {
  min-height: 93vh;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.container-login {
  background-image: url('/images/wines_bg.jpg');
}

.container-cellar {
  color: white;
  background-image: url('/images/wine_cellar.jpg');
}

.container-wine  {
  background-image: url('/images/pouring_wine.jpg');
}

footer, nav, .container-profile {
  background-color: rgb(53, 0, 0);
}

.title, .shaded {
  text-shadow: 1px 1px 2px black;
}

.cellars {
  background-color:rgba(0, 0, 0, 0.3);
  a {
    text-decoration: none;
  }
}

form {
  a {
    text-decoration: none;
  }
}

#app-name {
  transition: font-size 0.5s;
}

.big-text {
  font-size: 4.2rem;
}

li {
  list-style: none;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 57px;
  }
}