body {
  padding-top: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-login {
  height: 93vh;
  background-image: url('/images/wines_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.title {
  text-shadow: 1px 1px 2px black;
}

#app-name {
  transition: font-size 0.5s;
}

.big-text {
  font-size: 4.2rem;
}

.slim-select {
  display: inline-block;
  min-width: 250px;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 57px;
  }
}